extends layout 

block style 
  link(rel="stylesheet", href="/stylesheets/form.css")
block content 
  form(method='post',action="#{category.url}/update")
    h3= title 
    label(for="name") Category name:
    input#name(name='name',maxLength=50, type="text",placeholder="CPU, GPU, Monitor..." ,value=((JSON.stringify(category) === '{}') ? "" : category.name), required,autofocus)
    label(for="password") your password for this category: 
    input#password(name='password', maxLength=8,type="password" , required)
    if errors.length!=0
      ul.errors
        for error in errors
          if error.msg===undefined
            li *#{error}
          else 
            li *#{error.msg}
    input(type="submit",value="Update")
    
